site_name: MKDOC – Documentation interne

theme:
  name: material

extra_css:
  - assets/stylesheets/extra.css

plugins:
  - search
  - awesome-pages

markdown_extensions:
  - toc:
      permalink: true


nav:  # automatisation de menu de la barre de navigation



# Dossier contenant les fichiers source
docs_dir: docs

# Dossier de sortie du site
site_dir: site

# Ajout d’éléments statiques personnalisés (si jamais nécessaire)
extra_javascript: []
extra_css: []

# (Optionnel)  ajouter ceci pour le thème Material  :
# theme:
#   name: material
