site_name: MKDOC – Documentation interne

theme:
  name: material
  logo: assets/images/logo.png
  palette:
    - scheme: default
      primary: "#28A8E0"    # bleu ADN
#      accent: "#00CC99"     # Ton vert accentué
#  features:
#    - navigation.tabs
#    - navigation.sections

plugins:
  - search
  - awesome-pages

extra_css:
  - assets/stylesheets/extra.css

markdown_extensions:
  - toc:
      permalink: true

docs_dir: docs
site_dir: site
extra_javascript: []
